@import '_partials/_variables.scss';

.heart-talk {
    background: 10% no-repeat url('../../asset/media/svg/next-background-debat.svg'), $background-agora-biafine;

    body.biafine-theme & {
        background: 10% no-repeat url('../../asset/media/svg/next-background-debat.svg'), $background-agora-biafine;
    }

    body.dracula-theme & {
        background: 10% no-repeat url('../../asset/media/svg/next-background-debat.svg'), $background-agora-dracula;
    }

    body.giganoir-theme & {
        background: 10% no-repeat url('../../asset/media/svg/next-background-debat.svg'), $background-agora-bat;
    }
}

.heart-talk > div svg path {
    &:first-child {
        stroke: $black-biafine;
    }
    fill: $black-biafine;

    body.biafine-theme & {
        fill: $black-biafine;
    }

    body.dracula-theme & {
        fill: $black-dracula;
    }

    body.giganoir-theme & {
        fill: $black-bat;
    }

    body.biafine-theme &:first-child {
        stroke: $black-biafine;
    }

    body.dracula-theme &:first-child {
        stroke: $black-dracula;
    }

    body.giganoir-theme &:first-child {
        stroke: $black-bat;
    }
}

.heart-talk > div {
}

.heart-talk > div > div:first-child {
}

.heart-talk > span {
}

.heart-talk > div > div p {
    color: $info-article-biafine;

    body.biafine-theme & {
        color: $info-article-biafine;
    }

    body.dracula-theme & {
        color: $info-article-dracula;
    }

    body.giganoir-theme & {
        color: $info-article-bat;
    }
}

.close-heart-talk > span {
}

.close-heart-talk > div > div:first-child {
}

.close-heart-talk > div > div p {
}

.close-heart-talk {
}

.list-heart-article {
    /* margin-top: 25px; */
}

.list-heart-article::-webkit-scrollbar {
}

.close-talk {
}

.list-heart-article > li {
}

.list-heart-article > li .article-text-comment .categories-button {
    background-color: $category-tag-biafine;
    color: $text-biafine;

    body.biafine-theme & {
        background-color: $category-tag-biafine;
        color: $text-biafine;
    }

    body.dracula-theme & {
        background-color: $category-tag-dracula;
        color: $text-dracula;
    }

    body.giganoir-theme & {
        background-color: $category-tag-bat;
        color: $text-bat;
    }
}

.list-heart-article > li:nth-last-child(-n+3) {
}

.list-heart-article > li > div:first-child {
}

.list-heart-article > li > div:first-child > span {
}

.list-heart-article > li > div:first-child > span svg {
}

.list-heart-article > li > div:first-child > span svg path {
}

.list-heart-article > li > div {
}

.list-heart-article > li .author {
}

.list-heart-article > li .author img {
}

.list-heart-article > li .article-text-comment .time-post {
}

.list-heart-article > li .article-text-comment > span:last-child {
}

.list-heart-article > li .article-text-comment > span:last-child svg path {
    stroke: $bold-biafine;

    body.biafine-theme & {
        stroke: $bold-biafine;
    }

    body.dracula-theme & {
        stroke: $bold-dracula;
    }

    body.giganoir-theme & {
        stroke: $bold-bat;
    }
}

.list-heart-article > li .article-text-comment > span:last-child span,
.list-heart-article > li .article-text-comment > span:last-child span {
    color: $info-article-biafine;

    body.biafine-theme & {
        color: $info-article-biafine;
    }

    body.dracula-theme & {
        color: $info-article-dracula;
    }

    body.giganoir-theme & {
        color: $info-article-bat;
    }
}


.list-heart-article > li .article-text-comment {
}

.list-heart-article > li .article-text-comment .categories-button {
}

.list-heart-article > li .article-text-comment .categories-button > span:last-child {
}

.list-heart-article > li div h2 {
}

.list-heart-article > li div h2 a {
    color: $text-biafine;

    body.biafine-theme & {
        color: $text-biafine;
    }

    body.dracula-theme & {
        color: $text-dracula;
    }

    body.giganoir-theme & {
        color: $text-bat;
    }
}

@media (max-width: 1200px) {
    .heart-talk > div {
    }

    .list-heart-article {
    }

    .list-heart-article > li {
    }

    .list-heart-article > li > span {
    }    
}

@media (max-width: 1100px) {

    .heart-talk {
    }

    .close-heart-talk  {
    }

    .list-heart-article {
    }

    .list-heart-article::-webkit-scrollbar {
    }

    .list-heart-article > li {
    }

    .list-heart-article > li:last-child {
    }

    .list-heart-article > li:nth-last-child(-n+3) {
    }    

    .list-heart-article > li .author {
    }

    .list-heart-article > li > span {
    }

    .list-heart-article > li .author p {
    }

    .list-heart-article > li div h2 {
    }
}
