@import '_partials/_variables.scss';

#moreInfo {
    background: $white-biafine;
    body.biafine-theme & {
        background: $white-biafine;
    }

    body.dracula-theme & {
        background: $white-dracula;
    }

    body.giganoir-theme & {
        background: $white-bat;
    }
}

#moreInfo .nav-tab-aside {

    body.biafine-theme & {
    }

    body.dracula-theme & {
    }

    body.giganoir-theme & {
    }
}

#moreInfo .nav-tab-aside > li {
}

#moreInfo .nav-tab-aside > li > svg {
}

#moreInfo .nav-tab-aside > li {
}

#moreInfo .nav-tab-aside > li:first-child > span {
}

#moreInfo .nav-tab-aside > li:first-child.actif svg path {
    fill: $black-biafine;
    body.biafine-theme & {
        fill: $black-biafine;
    }

    body.dracula-theme & {
        fill: $black-dracula;
    }

    body.giganoir-theme & {
        fill: $black-bat;
    }
}

#moreInfo .nav-tab-aside > li:first-child.not-actif svg path {
    fill: $bold-biafine;
    body.biafine-theme & {
        fill: $bold-biafine;
    }

    body.dracula-theme & {
        fill: $bold-dracula;
    }

    body.giganoir-theme & {
        fill: $bold-bat;
    }
}

#moreInfo .nav-tab-aside > li:last-child > span {
}

#moreInfo .nav-tab-aside > li:first-child.not-actif > span {
}

#moreInfo .nav-tab-aside > li:first-child.actif > span {
}

#moreInfo .nav-tab-aside > li:last-child.actif svg path {
    fill: $black-biafine;
    body.biafine-theme & {
        fill: $black-biafine;
    }

    body.dracula-theme & {
        fill: $black-dracula;
    }

    body.giganoir-theme & {
        fill: $black-bat;
    }
}

#moreInfo .nav-tab-aside > li:last-child.not-actif svg path {
    fill: $bold-biafine;
    body.biafine-theme & {
        fill: $bold-biafine;
    }

    body.dracula-theme & {
        fill: $bold-dracula;
    }

    body.giganoir-theme & {
        fill: $bold-bat;
    }
}

#moreInfo .nav-tab-aside > li:last-child.not-actif > span {
}

#moreInfo .nav-tab-aside > li:last-child.actif > span {
}

#moreInfo #list-brief,
#moreInfo #list-continu {
    /* max-height: calc(80vh - 90px); */
}

#moreInfo #list-brief::-webkit-scrollbar,
#moreInfo #list-continu::-webkit-scrollbar {
}


#moreInfo .list-continu,
#moreInfo .list-brief {
}

#moreInfo .list-continu-actif,
#moreInfo .list-brief-actif {
}

#moreInfo #list-brief {
}


#moreInfo #list-brief > div,
#moreInfo #list-brief > div > div,
#moreInfo #list-continu > div,
#moreInfo #list-continu > div > div {
}

#moreInfo #list-brief .block-brief,
#moreInfo #list-continu .block-brief {
}

#moreInfo #list-brief .block-brief > div,
#moreInfo #list-continu .block-brief > div {
}

#moreInfo #list-brief .block-brief .article-text-comment .time-post,
#moreInfo #list-continu .block-brief .article-text-comment .time-post {
}

#moreInfo #list-brief .block-brief .article-text-comment > span:last-child,
#moreInfo #list-continu .block-brief .article-text-comment > span:last-child {
}

#moreInfo #list-brief .block-brief .article-text-comment svg path,
#moreInfo #list-continu .block-brief .article-text-comment svg path {
    stroke: $black-biafine;
    body.biafine-theme & {
        stroke: $black-biafine;
    }

    body.dracula-theme & {
        stroke: $black-dracula;
    }

    body.giganoir-theme & {
        stroke: $black-bat;
    }
}

#moreInfo #list-brief .block-brief .article-text-comment > span:last-child span,
#moreInfo #list-continu .block-brief .article-text-comment > span:last-child span {
    color: $bold-biafine;

    body.biafine-theme & {
        color: $bold-biafine;
    }

    body.dracula-theme & {
        color: $bold-dracula;
    }

    body.giganoir-theme & {
        color: $bold-bat;
    }
}

#moreInfo #list-brief > div {
    background: $white-biafine;
    body.biafine-theme & {
        background: $white-biafine;
    }

    body.dracula-theme & {
        background: $white-dracula;
    }

    body.giganoir-theme & {
        background: $white-bat;
    }
}

#moreInfo #list-brief .block-brief .article-text-comment,
#moreInfo #list-continu .block-brief .article-text-comment{
}

#moreInfo #list-brief .block-brief .article-text-comment .categories-button,
#moreInfo #list-continu .block-brief .article-text-comment .categories-button {
}

#moreInfo #list-brief h2,
#moreInfo #list-continu h2 {
}

#moreInfo #list-brief a,
#moreInfo #list-continu a {
    color: $text-biafine;

    body.biafine-theme & {
        color: $text-biafine;
    }

    body.dracula-theme & {
        color: $text-dracula;
    }

    body.giganoir-theme & {
        color: $text-bat;
    }
}

#moreInfo #list-brief h3,
#moreInfo #list-continu h3 {
}

#moreInfo .thumbnail,
#moreInfo .not-img {
}
