:root {
    --background-default: #bec1c6;
    --background-active: #9ab9ef;
}

body {
    width: 350px;
    font-family: 'Arial';
    color: #606368;
}

body > ul {
    padding-left: 0;
}

body ul li {
    list-style: none;    
}

.center {
    text-align: center;
}

table {
    font-size: 0.8rem;
}

h1 {
    font-size: 1.2rem;
}

.center {
    text-align: center;
}

li.option {
    padding: 5px;
}


.checkbox.input,
.select.input {
    float: right;
    display: block;
    width: 100px;
}

.checkbox.input input {
    display: none;
}

.toggle {
    position: relative;
    display: block;
    width: 40px;
    height: 20px;
    cursor: pointer;
    transform: translate(0);
    margin: 0;
    padding: 0;;
}


.toggle:before {
    content: "";
    position: relative;
    top: 3px;
    left: 3px;
    width: 34px;
    height: 14px;
    display: block;
    background-color: #bec1c6;
    border-radius: 8px;
}

.checkbox.input input:checked ~ .toggle:before {
    background-color: #9ab9ef
}

.toggle span {
    background: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15;
    display: block;
    transition: all .2s ease;
    border: 3px solid #7A8891;
    border-radius: 30px;
    box-sizing: unset;
    margin: 0;
    padding: 0;
}

.checkbox.input input:checked ~ .toggle span {
    background-color: #3674e0;
    transform: translate(20px);
}

select {        
    border: 1px solid #ccc;
    border-radius: 8px;    
    color: white;
    padding: 2px;
}

select:has(option[value="default"]:checked) {
    background-color: var(--background-default);
}

select:not(:has(option[value="default"]:checked)) {
    background-color: var(--background-active);
}

li.option > span.experimental {
    display: inline;
    color: darkorange;
    font-size: 0.8rem;
    font-style: italic;
}

.contributeur {
    font-size: 0.7rem;
    color: #242424;
    text-align: center;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 15px;  
    padding: 3px;  
    background-color: #F2F2F2;
}

.contributeur a {    
    text-decoration: none;
    color: #242424;
}