// ./_partials/_variables.scss


$header-biafine: var(--header-background-color);
$background-agora-biafine: var(--agora-background-color);
$background-biafine: var(--primary-background-color);
$background-sommaire-biafine: var(--sommaire-background-color);
$background-article-home-biafine: var(--article-home-background-color);
$sommairehighlight-biafine: var(--sommaire-highlight-color);
$text-biafine: var(--text-color);
$category-tag-biafine: var(--category-tag-color);
$bold-biafine: var(--bold-color);
$black-biafine: var(--black-color);
$white-biafine: var(--white-color);
$info-article-biafine: var(--article-info-color);
$citation-biafine: var(--citation-color);

$header-dracula: $header-biafine;
$background-agora-dracula: $background-agora-biafine;
$background-dracula: $background-biafine;
$background-sommaire-dracula: $background-sommaire-biafine;
$background-article-home-dracula: $background-article-home-biafine;
$sommairehighlight-dracula: $sommairehighlight-biafine;
$text-dracula: $text-biafine;
$category-tag-dracula: $category-tag-biafine;
$bold-dracula: $bold-biafine;
$black-dracula: $black-biafine;
$white-dracula: $white-biafine;
$info-article-dracula: $info-article-biafine;
$citation-dracula: $citation-biafine;

$header-bat: $header-biafine;
$background-agora-bat: $background-agora-biafine;
$background-bat: $background-biafine;
$background-sommaire-bat: $background-sommaire-biafine;
$background-article-home-bat: $background-article-home-biafine;
$sommairehighlight-bat: $sommairehighlight-biafine;
$text-bat: $text-biafine;
$category-tag-bat: $category-tag-biafine;
$bold-bat: $bold-biafine;
$black-bat: $black-biafine;
$white-bat: $white-biafine;
$info-article-bat: $info-article-biafine;
$citation-bat: $citation-biafine;