:root {
    --primary-background-color: #0b0b0d;
    --secondary-background-color: #1f2528;
    --other-background-color: #4d565c;
    --header-background-color: #05384a;
    --dark-light-background-color: #2a3135;

    --header-text-color: white;
    --primary-text-color: #dae5e9;
    --secondary-text-color: #748388;

    --light-background-color: #dae5e9;

    --link-color: #69bfe7;
    --link-color-hover: #068bc9;

    --orange: #FF9A3D;
}
body.dark-theme header,
body.dark-theme footer,
body.dark-theme footer .main-footer {
    background-color: var(--header-background-color);    
    border-bottom: 0;
}

body.dark-theme div#talk {
    background-color: var(--secondary-background-color);
}

body.dark-theme {
    background: var(--primary-background-color);
    color: var(--primary-text-color) !important;
}

body.dark-theme #connexion {
    color: var(--primary-text-color);
}

body.dark-theme .list-heart-article > li .author p {
    color: var(--secondary-text-color);
}

body.dark-theme .list-heart-article > li div h2 a {    
    color: var(--primary-text-color);
}

body.dark-theme .block-article h2 > a,
body.dark-theme .block-article h2 > a:hover {
    color: var(--primary-text-color);    
}

body.dark-theme .block-article h3,
body.dark-theme .block-article p {
    color: var(--secondary-text-color);    
}

body.dark-theme .contenu-continu,
body.dark-theme .article-contenu {
    background-color: var(--secondary-background-color);
    padding: 15px;
}

body.dark-theme .footer-moji-message {
    color: var(--primary-text-color);
}

body.dark-theme .footer-title {
    color: var(--header-text-color);
}

body.dark-theme .categories-button,
body.dark-theme .button-footer {
    background-color: var(--light-background-color) !important;
}

body.dark-theme .container-date-header p {
    color: var(--primary-text-color);
}

body.dark-theme #list-brief {
    background-color: var(--secondary-background-color);
    color: var(--primary-text-color);
}

body.dark-theme #list-brief p {
    color: var(--primary-text-color);
}


body.dark-theme select#brief {
    background-color: var(--light-background-color);
}

body.dark-theme .list-heart-article > li > span {
    color: var(--secondary-text-color);
}

body.dark-theme main#article-single main {
    background-color: var(--dark-light-background-color);
    padding: 15px;
}


body.dark-theme .block-brief,
body.dark-theme .block-brief h2 a,
body.dark-theme #moreInfo #list-brief a,
body.dark-theme #moreInfo #list-continu a {
    color: var(--primary-text-color);
}


body.dark-theme #other-article h2 {    
    color: var(--primary-text-color);
}

body.dark-theme svg path{
    fill: var(--primary-text-color) !important;
}

body.dark-theme #comment-header-title {
    color: var(--primary-text-color);
}

body.dark-theme .comment-author-name {
    color: var(--primary-text-color);
}

body.dark-theme .comment-content {
    color: var(--primary-text-color);
}

body.dark-theme .vertical-separator:not(.nothing-ever-to-hide) {
    border-color: var(--secondary-background-color);
    background-color: white;
}

body.dark-theme #article-single a {
    color: var(--link-color);
    font-weight: bold;
    text-decoration: none;
}

body.dark-theme #article-single a:hover {
    color: var(--link-color-hover);    
}

body.dark-theme #sommaire > div {   
    background: none;   
    color: var(--primary-text-color) !important;
}

body.dark-theme .title-sommaire-actif {
    background-color: var(--other-background-color);
    color: var(--primary-text-color);    
}

body.dark-theme #sommaire > div > div > h2,
body.dark-theme #sommaire > div > div > h3,
body.dark-theme #sommaire > div > div > h4,
body.dark-theme #sommaire > div > div > h5,
body.dark-theme #sommaire > div > div > h6 {
    color: var(--primary-text-color);    
}

body.dark-theme .title-sommaire-actif h2,
body.dark-theme .title-sommaire-actif h3,
body.dark-theme .title-sommaire-actif h4,
body.dark-theme .title-sommaire-actif h5,
body.dark-theme .title-sommaire-actif h6 {
    color: var(--primary-text-color) !important;    
}

body.dark-theme .thumbnail svg path:first-child{
    fill: var(--orange) !important;
}

body.dark-theme .thumbnail svg path:last-child{
    fill: white !important;
}