body:not(.texte-justifie) #article-single .article-content p {
    text-align: left;
}

body.texte-justifie #article-single .article-content p {
    text-align: justify;
}

body.texte-justifie.avec-cesure #article-single .article-content p {
    hyphens: auto;
}
